<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>
<body>
    <%- include('partials/navbar-public') -%>
    <div class="about-us-container m-5">
        <h1 class="about-us-title">Tech Stack & Developers</h1>
    </div>
    <div class="about-us-container m-5">
        <p class="about-us-text">MEOWMEOW is a back-end-focused art auction app concept focusing on CRUD operations. The app was built in the Node.js environment on top of an Express.js framework. Sequelize is used to facilitate CREATE, READ, UPDATE and DELETE's by users and admin to the cloud database, housed in ElephantSQL. Beyond this, bcrypt.js is used to hash and secure user passwords while JSON Web Tokens provides access tokens for users to traverse protected layers within the app. </p>
    </div>
  <!-- about us cards -->
  <div class="calling-card row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
      <div class="card m-3">
        <img src="../stylesheets/headshot Bartel.jpg" class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h2 class="card-title">Kristen-</h2>
          <h5>Full Stack Developer</h5>
          <a href="https://github.com/kristenbartel" target="_blank" rel="noopener noreferrer" id="details-button"><button class="btn btn-dark">GitHub</button></i></a>
        </div>
      </div>
      <div class="card m-3">
        <img src="../stylesheets/eugene.jpg" class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h2 class="card-title">Eugene-</h2>
          <h5>Full Stack Developer</h5>
          <a href="https://github.com/EugeneJac3" target="_blank" rel="noopener noreferrer" id="details-button"><button class="btn btn-dark">GitHub</button></a>
        </div>
      </div>
      <div class="card m-3">
        <img src="../stylesheets/alex.png" class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h2 class="card-title">Alex-</h2>
          <h5>Full Stack Developer</h5>
          <a href="https://github.com/alexdevregori" target="_blank" rel="noopener noreferrer" id="details-button"><button class="btn btn-dark">GitHub</button></a>
        </div>
    </div>
</div>
</body>
</html>