<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>
<body>
    <h1>Admin</h1>
    <form action="/users/art" method="POST" class="form-group">
        <input type="number" name="artID" placeholder="Enter art ID" class="form-control">
        <input type="number" min="10000" step="1000" name="startingAmount" placeholder="Enter starting amount above $10,000" class="form-control">
        <button type="submit" class="btn btn-default btn-dark">Add Artwork</button>
    </form>
</body>
</html>